<div class="event-card work">
    <h3 class="event-title"><%= event.summary %></h3>
    <span class="tag work-tag">Work</span>
    <p class="time">
        <i class="icon">⏰</i> 
        <%= event.time_start_display %> - <%= event.time_end_display %>
    </p>
    <p class="details">
        <%= event.description.split('\n')[0] %>
        <% if (event.description.split('\n').length > 1) { %>
            ...
        <% } %>
    </p>
</div>
